body {
  background-color: darkslategrey;
  position: relative;
  
}

.sign {
  background-color: transparent;
  width: 500px;
  height: 250px;
  margin: 40px auto;
  text-align: center;
  border-radius: 10px;
  border: 15px double red;
  position: relative;
  box-shadow: -1px 0px 106px 1px rgb(237,12,12);
}

p {
  margin-top: 35px;
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: gold;
  font-family: 'Futura', sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em gold, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444;
   animation: blink linear infinite 5s;
}

@keyframes blink {
0% { opacity: 0; }
      
  // flicker
  5%  { opacity: 0; }
  6% { opacity: 1; }
  11% { opacity: .4; }
  11.25% { opacity: .6; }
  11.5% { opacity: .4; }
  18% { opacity: 1; }
  18.5% { opacity: .9; }
  22% { opacity: 1; }
  
   // flicker
  38.5% { opacity: 1; }
  39% { opacity: .8; }
  42% { opacity: 1; }
  
  // flicker
  60% { opacity: 1; }
  60.5% { opacity: 0; }
  62% { opacity: 0; }
  63% { opacity: .2; }
  63.25% { opacity: 0; }
  65% { opacity: 1; }
  
  // flicker
  73% { opacity: 1; }
  75% { opacity: .8; }
  79% { opacity: 1; }
  
  100% { opacity: 1; }
}
